<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/context 
 http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="contact" />

	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<bean id="depService" name="depService" class="org.mockito.Mockito"
		factory-method="mock">
		<constructor-arg value="contact.service.DepartmentServiceImpl" />
	</bean>

	<bean id="storeService" name="storeService" class="org.mockito.Mockito"
		factory-method="mock">
		<constructor-arg value="contact.service.StoreServiceImpl" />
	</bean>

	<!-- <bean id="depDao" name="depDao" class="org.mockito.Mockito"
		factory-method="mock">
		<constructor-arg value="contact.dao.DepartmentDaoImpl" />
	</bean>
	<bean id="storeDao" name="storeDao" class="org.mockito.Mockito"
		factory-method="mock">
		<constructor-arg value="contact.dao.StoreDaoImpl" />
	</bean>-->

	<bean id="myDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/contact" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />

		<property name="annotatedClasses">
			<list>
				<value>contact.entity.Department</value>
				<value>contact.entity.Store</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>



</beans>